@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.contain-wrapper {
  max-width: 700px;
  padding: 2rem;
  margin: auto;
}

.block-forms {
  width: 100%;
  height: auto;
  margin: 1rem 0 1rem;
  padding: 0.5rem;
  line-height: 2.5rem;
  border: 1px solid blue;
}

/* .block-forms input {
  width: 80%;
} */
